In [6]:
# import the nesessary libraries for data wrangling.
# data wrangling is also refered to as data cleaning.

import pandas as np
import matplotlib as plt
import seaborn as sns 
import pandas as pd

In [ ]:
# Reading the dataset
filepath = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DA0101EN-SkillsNetwork/labs/Data%20files/auto.csv"
df = pd.read_csv(filepath, header=None)

# to print the first 5 rows of the dataframe
# print(df.head())
print("The first 5 rows of the dataframe\n")
df.head()

The first 5 rows of the dataframe

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [8]:
# You can add headers to an existing dataframe
headers = ["symboling", "normalized-losses", "make", "fuel_type", "aspiration", "num-of-doors", "body-style", "drive-wheels",
            "engine-location", "wheel-base0", "length", "width", "height", "curb-weight",  "engine-type", "num-of-cylinders", 
            "engine-size", "fuel-system", "bore", "stroke", "compression-ratio", "horse-power", "peak-rpm", "city-mpg", "highway-mpg", "price"]

print ("headers\n", headers)

# replace and recheck the dataframe
df.columns = headers
df.columns
print(df.head(10))
# df.head(10)

headers
 ['symboling', 'normalized-losses', 'make', 'fuel_type', 'aspiration', 'num-of-doors', 'body-style', 'drive-wheels', 'engine-location', 'wheel-base0', 'length', 'width', 'height', 'curb-weight', 'engine-type', 'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke', 'compression-ratio', 'horse-power', 'peak-rpm', 'city-mpg', 'highway-mpg', 'price']
   symboling normalized-losses         make fuel_type aspiration num-of-doors  \
0          3                 ?  alfa-romero       gas        std          two
1          3                 ?  alfa-romero       gas        std          two
2          1                 ?  alfa-romero       gas        std          two
3          2               164         audi       gas        std         four
4          2               164         audi       gas        std         four
5          2                 ?         audi       gas        std          two
6          1               158         audi       gas        std         four
7          1                 ?         audi       gas        std         four
8          1               158         audi       gas      turbo         four
9          0                 ?         audi       gas      turbo          two

    body-style drive-wheels engine-location  wheel-base0  ...  engine-size  \
0  convertible          rwd           front         88.6  ...          130
1  convertible          rwd           front         88.6  ...          130
2    hatchback          rwd           front         94.5  ...          152
3        sedan          fwd           front         99.8  ...          109
4        sedan          4wd           front         99.4  ...          136
5        sedan          fwd           front         99.8  ...          136
6        sedan          fwd           front        105.8  ...          136
7        wagon          fwd           front        105.8  ...          136
8        sedan          fwd           front        105.8  ...          131
9    hatchback          4wd           front         99.5  ...          131

   fuel-system  bore  stroke compression-ratio horse-power  peak-rpm city-mpg  \
0         mpfi  3.47    2.68               9.0         111      5000       21
1         mpfi  3.47    2.68               9.0         111      5000       21
2         mpfi  2.68    3.47               9.0         154      5000       19
3         mpfi  3.19    3.40              10.0         102      5500       24
4         mpfi  3.19    3.40               8.0         115      5500       18
5         mpfi  3.19    3.40               8.5         110      5500       19
6         mpfi  3.19    3.40               8.5         110      5500       19
7         mpfi  3.19    3.40               8.5         110      5500       19
8         mpfi  3.13    3.40               8.3         140      5500       17
9         mpfi  3.13    3.40               7.0         160      5500       16

  highway-mpg  price
0          27  13495
1          27  16500
2          26  16500
3          30  13950
4          22  17450
5          25  15250
6          25  17710
7          25  18920
8          20  23875
9          22      ?

[10 rows x 26 columns]

In [13]:
# load the data
df= pd.read_csv(filepath, names = headers)
# display the first 5 rows of the dataset
df.head()

,symboling,normalized-losses,make,fuel_type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base0,...,engine-size,fuel-system,bore,stroke,compression-ratio,horse-power,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

From this part i am going to work with the cleaning of data.
It entails the following
  1. Identification of the missing data
  2. Handling of the missing data
  3. Handling of the outliers
  4. Handling of the duplicates
  ### Step 2: Identify the missing data
  The missing data can be identified using the isnull() function in pandas. This function returns a boolean
  mask where True indicates missing values and False otherwise.

In [16]:
import numpy as np

# in the car dataset, missing data comes from the mark '?'. 
# replace it with a NaN
df.replace("?", np.nan, inplace= True)
df.head(10)

,symboling,normalized-losses,make,fuel_type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base0,...,engine-size,fuel-system,bore,stroke,compression-ratio,horse-power,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
5,2,NaN,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
7,1,NaN,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
9,0,NaN,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.40,7.0,160,5500,16,22,NaN

In [24]:
# Evaluating for the Missing Data. it can be identified using two methods.
# .isnull() and 
# .notnull()
missing_data = df.isnull()
missing_data.head(10)

,symboling,normalized-losses,make,fuel_type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base0,...,engine-size,fuel-system,bore,stroke,compression-ratio,horse-power,peak-rpm,city-mpg,highway-mpg,price
0,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

In [35]:
# count the missing values in each column
for column in missing_data.columns.values.tolist():
    print(column)
    print(missing_data[column].value_counts())
    print("")
    
    
# getting the specific column with missing data only
# count the missing values in each column
# for column in missing_data.columns.values.tolist():
#     if True in missing_data[column].value_counts():
#         print(column)
#         print(missing_data[column].value_counts())
#         print("")

symboling
symboling
False    205
Name: count, dtype: int64

normalized-losses
normalized-losses
False    164
True      41
Name: count, dtype: int64

make
make
False    205
Name: count, dtype: int64

fuel_type
fuel_type
False    205
Name: count, dtype: int64

aspiration
aspiration
False    205
Name: count, dtype: int64

num-of-doors
num-of-doors
False    203
True       2
Name: count, dtype: int64

body-style
body-style
False    205
Name: count, dtype: int64

drive-wheels
drive-wheels
False    205
Name: count, dtype: int64

engine-location
engine-location
False    205
Name: count, dtype: int64

wheel-base0
wheel-base0
False    205
Name: count, dtype: int64

length
length
False    205
Name: count, dtype: int64

width
width
False    205
Name: count, dtype: int64

height
height
False    205
Name: count, dtype: int64

curb-weight
curb-weight
False    205
Name: count, dtype: int64

engine-type
engine-type
False    205
Name: count, dtype: int64

num-of-cylinders
num-of-cylinders
False    205
Name: count, dtype: int64

engine-size
engine-size
False    205
Name: count, dtype: int64

fuel-system
fuel-system
False    205
Name: count, dtype: int64

bore
bore
False    201
True       4
Name: count, dtype: int64

stroke
stroke
False    201
True       4
Name: count, dtype: int64

compression-ratio
compression-ratio
False    205
Name: count, dtype: int64

horse-power
horse-power
False    203
True       2
Name: count, dtype: int64

peak-rpm
peak-rpm
False    203
True       2
Name: count, dtype: int64

city-mpg
city-mpg
False    205
Name: count, dtype: int64

highway-mpg
highway-mpg
False    205
Name: count, dtype: int64

price
price
False    201
True       4
Name: count, dtype: int64

Data should be handled in the following ways
1. Drop data
2. Replace data
    1. Can be replaced with mean
    2. Can be replaced with median
    3. Can be replaced by its frequency
    4. Can be replaced based on the other functions

In [30]:
# Deal with missing data
# Calculate the mean value of the normalized-loses column for each group
# grouped_mean = df.groupby('group')['normalized-losses'].mean()
# or can use this line of code for the same 
avr_norm_loss = df["normalized-losses"].astype('float').mean(axis=0)
print("Average of normalized-losses:", avr_norm_loss)

# replace NaN with the mean values in the column
df["normalized-losses"].replace(np.nan, avr_norm_loss, inplace=True)

Average of normalized-losses: 122.0

In [37]:
# calculate the mean value for the bore column 
avr_bore = df['bore'].astype('float').mean(axis=0)
print("Average bore:", avr_bore)

# Replace the mean of bpre with the value of bore
df['bore'].replace(np.nan, avr_bore, inplace=True)

Average bore: 3.3297512437810943

In [39]:
# calculating the mean value for the stroke column
avr_stroke = df['stroke'].astype('float').mean(axis=0)
print("Average for stroke:", avr_stroke)  # Output: 1.0

# replace the mean value for the stroke column
df['stroke'].replace(np.nan, avr_stroke, inplace=True)

Average for stroke: 3.255422885572139

In [45]:
# calculate the mean value of the horse power column
avr_horse_power = df['horse-power'].astype('float').mean(axis=0)
print("Average for horse-power:", avr_horse_power)  # Output: 1.0

# replace the mean value for the horse power column
df['horse-power'].replace(np.nan, avr_horse_power, inplace=True)

Average for horse-power: 104.25615763546797

In [ ]:
# Correcting the Data Format